%list-reset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

/* stylelint-disable order/properties-order */
%sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/* stylelint-enable order/properties-order */
