figcaption {
  .alignfull & {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  @if $is-frontend == false {
    [data-align='full'] & {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}
