$is-frontend: true !default;

@use '../core/extend';

@if $is-frontend {
  .comment-list {
    @extend %list-reset;
  }

  .comment-meta {
    display: flex;
  }

  .bypostauthor {
    background: var(--wp--preset--color--shade);
  }

  [name='comment'] {
    display: block;
  }

  @media print {
    .comments,
    .comment-respond {
      display: none;
    }
  }
}
