@use '../core/mixins';

.gform-loader {
  position: absolute;
  inset: 0;
  transform: translateZ(0);
  display: inline-block;
  align-self: center;
  inline-size: 8em;
  block-size: 8em;
  margin: auto;
  border-block-start: 1.1em solid transparent;
  border-block-end: 1.1em solid currentcolor;
  border-inline-start: 1.1em solid currentcolor;
  border-inline-end: 1.1em solid transparent;
  border-radius: 50%;
  font-size: 2px;
  vertical-align: middle;
  animation: gformLoader 1.1s infinite linear;

  @keyframes gformLoader {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
  }

  @at-root .gform_wrapper:has(.gform-loader) {
    position: relative;
    opacity: 0.5;
  }
}

.gform_submission_error {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  color: var(--wp--preset--color--white);
  background: var(--wp--preset--color--alert);

  .gform-icon {
    margin-right: 0.5rem;
    font-size: 2rem;
  }

  @at-root .gfield_validation_message {
    color: var(--wp--preset--color--alert);
  }
}

.ginput_complex {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;

  > * {
    flex: 1 1 auto;
  }

  [name*='input_'] {
    width: 100%;
  }

  .gf_clear_complex {
    display: none;
  }

  &.ginput_container_address {
    flex-wrap: wrap;

    > * {
      margin-left: 0;

      @include mixins.gs-breakpoint(medium, up) {
        flex: 0 0 calc(50% - 1rem / 2);
      }

      > * {
        width: 100%;
      }
    }
  }
}
