@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap';

:root {
  --wp-admin--color--white: #fff;
  --wp-admin--color--major: #181231;
  --wp-admin--color--minor: #7c01fd;
  --wp-admin--color--error: #f06;
}

%wp-admin-link {
  background: left 100% no-repeat;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-size: 0% 1px;
  color: var(--wp-admin--color--white);
  text-decoration: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);

  &:hover, &:focus, &:active {
    background-size: 100% 1px;
    color: var(--wp-admin--color--white);
  }
}

/* stylelint-disable selector-id-pattern, selector-max-id */
.login, .interim-login.login {
  background: var(--wp-admin--color--major);
  color: var(--wp-admin--color--major);
  font-family: Inter, sans-serif;

  h1 a {
    margin: 0 0 25px;
    width: 4em;
    height: 4em;
    background: url('../assets/images/logo-grayscale.svg') center no-repeat;
  }

  form {
    border: 0;
  }

  #nav, #backtoblog {
    padding: 0;

    a {
      @extend %wp-admin-link;
    }
  }

  .message, .success {
    border-left-color: var(--wp-admin--color--minor);

    a {
      @extend %wp-admin-link;

      color: var(--wp-admin--color--minor);
    }

    :is(a) {
      &:hover, &:focus, &:active {
        color: var(--wp-admin--color--minor);
      }
    }
  }

  #login_error {
    border-left-color: var(--wp-admin--color--error);
  }
}

.privacy-policy-link {
  @extend %wp-admin-link;
}

#wp-auth-check-wrap {
  #wp-auth-check,
  #wp-auth-check-form {
    background: var(--wp-admin--color--white);
    color: var(--wp-admin--color--major);
    font-family: Inter, sans-serif;
  }

  a,
  .wp-auth-check-close {
    color: inherit;

    &:hover, &:focus, &:active {
      color: var(--wp-admin--color--minor);
    }
  }
}
/* stylelint-enable selector-id-pattern, selector-max-id */
