@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap';

%wp-admin-link {
  color: #fff;
  text-decoration: none;
  background: left 100% no-repeat;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-size: 0% 1px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);

  &:hover, &:focus, &:active {
    color: #fff;
    background-size: 100% 1px;
  }
}

/* stylelint-disable selector-id-pattern, selector-max-id */
.login.login, #wp-auth-check-wrap {
  --wp-admin-theme-color: #7c01fd;
  --wp-admin-theme-color--rgb: 124, 1, 253;
  --wp-admin-theme-color-darker-10: #181231;
  --wp-admin-theme-color-darker-10--rgb: 24, 18, 49;
  --wp-admin-theme-color-darker-20: var(--wp-admin-theme-color-darker-10);
  --wp-admin-theme-color-darker-20--rgb: var(--wp-admin-theme-color-darker-10--rgb);

  font-family: Inter, sans-serif;
  color: var(--wp-admin-theme-color-darker-20);
  background: var(--wp-admin-theme-color-darker-20);

  h1 a {
    width: 4em;
    height: 4em;
    margin: 0 0 25px;
    background: url('../assets/images/logo-grayscale.svg') center no-repeat;
  }

  form {
    border: 0;
  }

  #nav, #backtoblog {
    padding: 0;

    a {
      @extend %wp-admin-link;
    }
  }

  .notice {
    border-left-color: var(--wp-admin-theme-color);

    a {
      @extend %wp-admin-link;

      color: var(--wp-admin-theme-color);
    }

    :is(a) {
      &:hover, &:focus, &:active {
        color: var(--wp-admin-theme-color);
      }
    }
  }
}

.privacy-policy-link {
  @extend %wp-admin-link;
}

.language-switcher {
  filter: grayscale(1) invert(1);
}

#wp-auth-check-wrap {
  a,
  .wp-auth-check-close {
    color: inherit;

    &:hover, &:focus, &:active {
      color: var(--wp-admin-theme-color);
    }
  }
}
/* stylelint-enable selector-id-pattern, selector-max-id */
