// ***************************************************************************
// APPLY TO EDITOR ONLY
// ***************************************************************************
@use 'sass:list';

// ==========================================================================
// CORE
// ==========================================================================
@use 'settings' as *;

// ==========================================================================
// WORDPRESS
// ==========================================================================
@use 'wordpress' with ($is-frontend: false);

// ==========================================================================
// PROJECT SPECIFIC
// ==========================================================================
@use 'typography';

// ==========================================================================
// EDITOR SPECIFIC
// ==========================================================================
:where(.wp-block-post-content) {
  font-family: var(--wp--preset--font-family--body);
  font-size: list.nth($font-size-roots, 3);
  line-height: var(--wp--custom--line-height);
}

.wp-block {
  max-width: var(--wp--custom--wrapper--max-width);
}

[data-align='wide'] {
  max-width: calc(var(--wp--custom--wrapper--max-width) * 1.2);
}

[data-align='full'] {
  max-width: none;
}

[data-align='wide'], [data-align='full'] {
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}
